@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

.inscription{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-style: normal;
	font-variant: small-caps;
}

#chapter-34 blockquote header{
	font-variant: small-caps;
	font-style: normal;
}

#chapter-36 blockquote{
	text-align: right;
}

p[epub|type~="z3998:salutation"],
p[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

p[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
	font-style: normal;
}

footer{
	text-align: right;
	margin-top: 1em;
}

b,
.signature{
	font-style: normal;
	font-variant: small-caps;
}

/* Gravestone-type inscriptions */
.inscription{
	text-align: center;
}

.inscription p{
	text-align: center;
	font-variant: small-caps;
	font-weight: normal;
	font-style: normal;
	margin-bottom: 1em;
}

#chapter-15 .inscription img{
	height: 1em;
}

[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}
